---
http_interactions:
- request:
    method: get
    uri: http://datracker.begavalley.nsw.gov.au/ATDIS/1.0//applications.json?lodgement_date_end=2019-05-14&lodgement_date_start=2019-04-14
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":[{"application":{"info":{"dat_id":"010.2019.00000170.001","development_type":"Residential
        - Alterations & Additions","application_type":"DA","last_modified_date":"2019-06-05T16:25:20+10:00","description":"Alterations
        & additions to dwelling & deck addition","authority":{"ref":"http://datracker.begavalley.nsw.gov.au/atdis/1.0","name":"Bega
        Valley Shire Council"},"lodgement_date":"2019-05-09T00:00:00+10:00","determination_date":"2019-06-05T00:00:00+10:00","determination_type":"Approved
        under delegation","status":"Determined","notification_start_date":null,"notification_end_date":null,"officer":"Rodney
        Hicks","estimated_cost":"$124,000.00","related_apps":[]},"reference":{"more_info_url":"http://datracker.begavalley.nsw.gov.au/Application/ApplicationDetails/010.2019.00000170.001/","comments_url":null},"locations":[{"land_title_ref":{"torrens":{"lot":"21","section":null,"dpsp_id":"DP
        208862"}},"address":{"street":"7 Carolynne ST","suburb":"MERIMBULA","state":"NSW","postcode":"2548"},"geometry":null}],"events":[{"id":"658538","timestamp":"2019-05-09T16:58:00+10:00","description":"Registered
        & received","event_type":"D010","status":"COMP"},{"id":"658539","timestamp":"2019-05-09T16:58:00+10:00","description":"Scanning
        & file makeup","event_type":"D020","status":"COMP"},{"id":"659044","timestamp":"2019-05-13T09:45:00+10:00","description":"Application
        information check","event_type":"D030","status":"COMP"},{"id":"660350","timestamp":"2019-05-16T17:05:00+10:00","description":"Under
        assessment by officer","event_type":"D080","status":"COMP"},{"id":"660351","timestamp":"2019-05-21T17:05:00+10:00","description":"Notify
        adjoining owners","event_type":"D070","status":"COMP"},{"id":"664986","timestamp":"2019-06-05T16:20:00+10:00","description":"Determination
        issued & posted","event_type":"D290","status":"COMP"}],"documents":[{"ref":"AD19/0006024","title":"2019.170
        Application form & notification plans","document_url":"http://datracker.begavalley.nsw.gov.au/atdis/1.0/Document/Download?key=nm7TQr/U4sk="},{"ref":"D19/44123","title":"2019.170
        Notice of Determination","document_url":"http://datracker.begavalley.nsw.gov.au/atdis/1.0/Document/Download?key=KNxoUWkw9wI="}],"people":[{"name":"MF
        Beveridge","role":"Owner","contact":null},{"name":"RM Beveridge","role":"Owner","contact":null},{"name":"Murray
        Beveridge","role":"Applicant","contact":null},{"name":"Bega Valley Shire Council","role":"Principal
        Certifying Authority","contact":"02 6499 2222"}],"extended":{"software_vendor":"Civica","software_vendor_url":"http://www.civica.com.au"}}},{"application":{"info":{"dat_id":"010.2019.00000158.001","development_type":"Industrial","application_type":"DA","last_modified_date":"2019-06-05T10:08:53+10:00","description":"Erection
        of a Farm Shed","authority":{"ref":"http://datracker.begavalley.nsw.gov.au/atdis/1.0","name":"Bega
        Valley Shire Council"},"lodgement_date":"2019-05-02T00:00:00+10:00","determination_date":"2019-06-03T00:00:00+10:00","determination_type":"Approved
        under delegat[...]
- request:
    method: get
    uri: http://datracker.begavalley.nsw.gov.au/ATDIS/1.0//applications.json?lodgement_date_end=2019-05-14&lodgement_date_start=2019-04-14&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":[{"application":{"info":{"dat_id":"010.2018.00000494.002","development_t[...]
[...]
- request:
    method: get
    uri: http://da.ballina.nsw.gov.au/atdis/1.0/applications.json?lodgement_date_end=2019-05-14&lodgement_date_start=2019-04-14
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":[{"application":{"info":{"dat_id":"010.2019.00000276.001","development_type":"Other","appl[...]
- request:
    method: get
    uri: http://da.ballina.nsw.gov.au/atdis/1.0/applications.json?lodgement_date_end=2019-05-14&lodgement_date_start=2019-04-14&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":[{"application":{"info":{"dat_id":"010.2015.00000203.004","development_type":"Other[...]
[...]
- request:
    method: get
    uri: http://masterview.bathurst.nsw.gov.au/atdis/1.0//applications.json?lodgement_date_end=2019-05-14&lodgement_date_start=2019-04-14
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":[{"application":{"info":{"dat_id":"010.2019.00000124.001","development_type":"Ot[...]
- request:
    method: get
    uri: http://masterview.bathurst.nsw.gov.au/atdis/1.0//applications.json?lodgement_date_end=2019-05-14&lodgement_date_start=2019-04-14&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":[{"application":{"info":{"dat_id":"010.2019.00000144.001","development_ty[...]
[...]
- request:
    method: get
    uri: http://masterview.bathurst.nsw.gov.au/atdis/1.0//applications.json?lodgement_date_end=2019-05-14&lodgement_date_start=2019-04-14&page=6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":[],"count":0,"pagination":null}'
  recorded_at: Mon, 13 May 2019 14:00:00 GMT
- request:
    method: get
    uri: http://datracking.berriganshire.nsw.gov.au/Horizon/@@horizondap@@/atdis/1.0//applications.json?lodgement_date_end=2019-05-14&lodgement_date_start=2019-04-14
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\r\n\"response\": [ \r\n{\r\n\"application\": {\r\n\"locations\":
        [ \r\n{\r\n\"address\": {\r\n\"suburb\": \"FINLEY\", \r\n\"postcode\": \"3644\",
        \r\n\"state\": \"NSW\", \r\n\"street\": \"48 MURRAY STREET\"}\r\n, \r\n\"land_title_ref\":
        {\r\n\"torrens\": {\r\n\"dpsp_id\": \"DP545868\", \r\n\"lot\": \"92\", \r\n\"section\":
        null}\r\n}\r\n, \r\n\"geometry\": {\r\n\"type\": \"Point\", \r\n\"coordinates\":
        \"145.69337#-35.91131\"}\r\n}\r\n] \r\n, \r\n\"extended\": {\r\n\"version\":
        \"Online Application Tracking Data Interchange Specification 1.02 \", \r\n\"sid\":
        9, \r\n\"software_vendor\": \"SolOrient Pty Ltd\", \r\n\"software_vendor_url\":
        \"http:\\/\\/www.solorient.com.au\", \r\n\"product\": \"Horizon DA Portal
        - Build 4.03 Copyright 2018\"}\r\n, \r\n\"reference\": {\r\n\"more_info_url\":
        \"http:\\/\\/datracking.berriganshire.nsw.gov.au\\/Horizon\\/logonGuest.aw?e=FxkUAB1eSSgbAR0MXx0SGBFSVh0yBwc3GV0eFxcFSUMAIQYHJARfEBMKEiNZACg9HR0CHCUfHBY1QAQsHRAVAlkcGFUPEUcrNBURWDdAAxoQAhVEHS8aNxUCUVUSGBUrWRB9RUZAWAFKWD0gWnRBbBoWAylEEhQ%3D\"}\r\n,
        \r\n\"events\": [ \r\n{\r\n\"status\": \"1\", \r\n\"description\": \"Receive
        Application\", \r\n\"id\": \"79755\", \r\n\[...]
- request:
    method: get
    uri: https://planning.dubbo.nsw.gov.au/atdis/1.0//applications.json?lodgement_date_end=2019-05-14&lodgement_date_start=2019-04-14
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":[{"application":{"info":{"dat_id":"010.2019.00000177.001","development_type":"Reside[...]
- request:
    method: get
    uri: https://planning.dubbo.nsw.gov.au/atdis/1.0//applications.json?lodgement_date_end=2019-05-14&lodgement_date_start=2019-04-14&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":[{"application":{"info":{"dat_id":"010.2019.00000165.001","development_type":[...]
[...]
- request:
    method: get
    uri: https://da.kiama.nsw.gov.au/atdis/1.0/applications.json?lodgement_date_end=2019-05-14&lodgement_date_start=2019-04-14
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":[{"application":{"info":{"dat_id":"010.2018.00000093.002","development_type":"Residential
 [...]
- request:
    method: get
    uri: https://da.kiama.nsw.gov.au/atdis/1.0/applications.json?lodgement_date_end=2019-05-14&lodgement_date_start=2019-04-14&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":[{"application":{"info":{"dat_id":"010.2019.00000069.001","development_type":"Other"[...]
[...]
- request:
    method: get
    uri: http://onlineservices.upperhunter.nsw.gov.au/atdis/1.0//applications.json?lodgement_date_end=2019-05-14&lodgement_date_start=2019-04-14
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":[{"application":{"info":{"dat_id":"023.2009.00001082.002","development_ty[...]
- request:
    method: get
    uri: http://onlineservices.upperhunter.nsw.gov.au/atdis/1.0//applications.json?lodgement_date_end=2019-05-14&lodgement_date_start=2019-04-14&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":[],"count":0,"pagination":{"previous":1,"next":3,"current":2,"per_page":0,"count":10,"pages":0}}'
  recorded_at: Mon, 13 May 2019 14:00:00 GMT
[...]
- request:
    method: get
    uri: https://epathway.newengland.nsw.gov.au/ePathway/Production/WebServiceGateway/atdis/1.0/applications.json?lodgement_date_end=2019-05-14&lodgement_date_start=2019-04-14
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://epathway.newengland.nsw.gov.au/ePathway/Production/WebServiceGateway/ATDISWebServices/ATDIS.asmx/PerformATDISRequest?lodgement_date_end=2019-05-14&lodgement_date_start=2019-04-14
    body:
      encoding: UTF-8
      string: "<html><head><title>Object moved</title></head><body>\r\n<h2>Object
        moved to <a href=\"https://epathway.newengland.nsw.gov.au/ePathway/Production/WebServiceGateway/ATDISWebServices/ATDIS.asmx/PerformATDISRequest?lodgement_date_end=2019-05-14&amp;lodgement_date_start=2019-04-14\">here</a>.</h2>\r\n</body></html>\r\n"
  recorded_at: Mon, 13 May 2019 14:00:00 GMT
- request:
    method: get
    uri: https://epathway.newengland.nsw.gov.au/ePathway/Production/WebServiceGateway/ATDISWebServices/ATDIS.asmx/PerformATDISRequest?lodgement_date_end=2019-05-14&lodgement_date_start=2019-04-14
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"response":[],"count":"0"}'
  recorded_at: Mon, 13 May 2019 14:00:00 GMT
recorded_with: VCR 5.0.0
