---
http_interactions:
- request:
    method: get
    uri: https://da.kiama.nsw.gov.au/atdis/1.0/applications.json?lodgement_date_end=2016-03-22&lodgement_date_start=2016-02-21
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":[{"application":{"info":{"dat_id":"010.2016.00000053.001","development_type":"Residential
        - Single new dwelling","application_type":"DA","last_modified_date":"2016-03-22T09:16:40+11:00","description":"dwelling
        with attached double garage","authority":{"ref":"https://da.kiama.nsw.gov.au/atdis/1.0","name":"Kiama
        Municipal Council"},"lodgement_date":"2016-03-21T00:00:00+11:00","determination_date":null,"determination_type":"Pending","status":"In
        Progress","notification_start_date":null,"notification_end_date":null,"officer":"Gregory
        Herbert","estimated_cost":"$420,000.00","related_apps":[]},"reference":{"more_info_url":"https://da.kiama.nsw.gov.au/Application/ApplicationDetails/010.2016.00000053.001/","comments_url":null},"locations":[{"land_title_ref":{"torrens":{"lot":"2","section":null,"dpsp_id":"DP
        1191730"}},"address":{"street":"7B Stewart PL","suburb":"KIAMA","state":"NSW","postcode":"2533"},"geometry":null}],"events":[{"id":"1006816","timestamp":"2016-03-22T09:16:00+11:00","description":"Preliminary
        Assessment","event_type":"INIT","status":"COMP"}],"documents":[{"ref":"16/21655","title":"10.2016.53.1
        -Public Plans - 7B Stewart PLace Kiama","document_url":"https://da.kiama.nsw.gov.au/atdis/1.0/Document/Download?key=ghfxuupNqI4="}],"people":[{"name":"Raymond
        Vincent Constructions Pty Ltd","role":"Applicant","contact":"4422 5050"},{"name":"Owner
        to Appoint","role":"Principal Certifying Authority","contact":null}],"extended":{"software_vendor":"Civica","software_vendor_url":"http://www.civica.com.au"}}},{"application":{"info":{"dat_id":"010.2016.00000052.001","development_type":"Residential
        - Alterations & Additions","application_type":"DA","last_modified_date":"2016-03-22T08:55:03+11:00","description":"demolition
        of existing garage & dwelling additions including new garage","authority":{"ref":"https://da.kiama.nsw.gov.au/atdis/1.0","name":"Kiama
        Municipal Council"},"lodgement_date":"2016-03-18T00:00:00+11:00","determination_date":null,"dete[...]
- request:
    method: get
    uri: https://da.kiama.nsw.gov.au/atdis/1.0/applications.json?lodgement_date_end=2016-03-22&lodgement_date_start=2016-02-21&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":[{"application":{"info":{"dat_id":"010.2016.00000044.001","development_type":"Reside[...]
[...]
- request:
    method: get
    uri: https://da.kiama.nsw.gov.au/atdis/1.0/applications.json?lodgement_date_end=2016-03-22&lodgement_date_start=2016-02-21&page=6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":[],"count":0,"pagination":null}'
  recorded_at: Tue, 22 Mar 2016 04:42:22 GMT
- request:
    method: get
    uri: https://da.kiama.nsw.gov.au/atdis/1.0//applications.json?lodgement_date_end=2016-03-22&lodgement_date_start=2016-02-21
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":[{"application":{"info":{"dat_id":"010.2016.00000053.001","development_type":"Residential
[...]
- request:
    method: get
    uri: https://da.kiama.nsw.gov.au/atdis/1.0//applications.json?lodgement_date_end=2016-03-22&lodgement_date_start=2016-02-21&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":[{"application":{"info":{"dat_id":"010.2016.00000044.001","development_type":"Resid[...]
[...]
- request:
    method: get
    uri: https://da.kiama.nsw.gov.au/atdis/1.0//applications.json?lodgement_date_end=2016-03-22&lodgement_date_start=2016-02-21&page=6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":[],"count":0,"pagination":null}'
  recorded_at: Tue, 22 Mar 2016 04:48:32 GMT
recorded_with: VCR 3.0.1
