---
http_interactions:
- request:
    method: get
    uri: http://mycouncil.yass.nsw.gov.au/Horizon/@@horizondap@@/atdis/1.0//applications.json?lodgement_date_end=2016-03-22&lodgement_date_start=2016-02-21
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\r\n\"response\": [ \r\n{\r\n\"application\": {\r\n\"reference\":
        {\r\n\"more_info_url\": \"http:\\/\\/mycouncil.yass.nsw.gov.au\\/Horizon\\/logonGuest.aw?e=FxkUAB1eSSgbAR0MXx0SGBFSVh0yBwc3GV0eFxcFSUMAIQYHJARfEBMKEiNZACg9HR0CHCUfHBY1QAQsHRAVAlkcGFUPEUcrNBURWDdAAxoQAhVEHS8aNxUCUVUSGBUrWRB9RENBWAJDR09PRABEcERDQk8eQ0ZITRpVAx8AEhY%3D\"}\r\n,
        \r\n\"extended\": {\r\n\"sid\": 2, \r\n\"version\": \"Online Application Tracking
        Data Interchange Specification 1.02 \", \r\n\"software_vendor_url\": \"http:\\/\\/www.solorient.com.au\",
        \r\n\"software_vendor\": \"SolOrient Pty Ltd\", \r\n\"product\": \"Horizon
        DA Portal - Build 3.18 Copyright 2016\"}\r\n, \r\n\"locations\": [ \r\n{\r\n\"address\":
        {\r\n\"suburb\": \"BINALONG\", \r\n\"postcode\": \"2584\", \r\n\"state\":
        \"NSW\", \r\n\"street\": \"14 Wellington Street\"}\r\n, \r\n\"land_title_ref\":
        {\r\n\"torrens\": {\r\n\"dpsp_id\": \"DP818129\", \r\n\"lot\": \"1\", \r\n\"section\":
        null}\r\n}\r\n, \r\n\"geometry\": {\r\n\"type\": \"Point\", \r\n\"coordinates\":
        [148.635000, \r\n-34.672600]}\r\n}\r\n] \r\n, \r\n\"events\": [ \r\n{\r\n\"description\":
        \"Distribution of DA\", \r\n\"timestamp\": \"2016-03-21T00:00:00Z\", \r\n\"id\":
        \"249818\", \r\n\"event_type\": \"DIST\"}\r\n,\r\n{\r\n\"status\": \"COMP\",
        \r\n\"description\": \"Acknowledgement Letter\", \r\n\"timestamp\": \"2016-03-21T00:00:00Z\",
        \r\n\"id\": \"249825\", \r\n\"event_type\": \"ACKM\"}\r\n,\r\n{\r\n\"status\":
        \"COMP\", \r\n\"description\": \"Lodgement of Development Appli\", \r\n\"timestamp\":
        \"2016-03-21T00:00:00Z\", \r\n\"id\": \"249817\", \r\n\"event_type\": \"LDG\"}\r\n]
        \r\n, \r\n\"documents\": [], \r\n\"people\": [ \r\n{\r\n\"name\": \"Builder
        to be Advised\", \r\n\"role\": \"Builder\"}\r\n,\r\n{\r\n\"contact\": \"Council`s
        Customer Information on (02) 6226 1477\", \r\n\"name\": \"Yass Valley Council\",
        \r\n\"role\": \"PCA\"}\r\n,\r\n{\r\n\"name\": \"Ms W E Rowe\", \r\n\"role\":
        \"Applicant\"}\r\n] \r\n, \r\n\"info\": {\r\n\"development_type\": \"Residential
        - Single new dwelling\", \r\n\"notification_end_date\": null, \r\n\"determination_type\":
        \"Pending\", \r\n\"estimated_cost\": \"$260,000\", \r\n\"status\": \"Open\",
        \r\n\"lodgement_date\": \"2016-03-21T00:00:00Z\", \r\n\"last_modified_date\":
        \"2016-03-21T15:33:26Z\", \r\n\"authority\": {\r\n\"name\": \"Yass Valley
        Council\", \r\n\"ref\": \"http:\\/\\/mycouncil.yass.nsw.gov.au\\/Horizon%40%40horizondap%40%40\\/atdis\\/1.0\"}\r\n,
        \r\n\"officer\": \"Mr J S Mannweiler\", \r\n\"dat_id\": \"005.2016.00000069.001\",
        \r\n\"description\": \"Dwelling House and Septic Tank with Absorption Trench\",
        \r\n\"determination_date\": null, \r\n\"application_type\": \"DA\"}\r\n}\r\n}\r\n,\r\n{\r\n\"application\":
        {\r\n\"reference\": {\r\n\"more_info_url\": \"http:\\/\\/mycouncil.yass.nsw.gov.au\\/Horizon\\/logonGuest.aw?e=FxkUAB1eSSgbAR0MXx0SGBFSVh0yBwc3GV0eFxcFSUMAIQYHJARfEBMKEiNZACg9HR0CHCUfHBY1QAQsHRAVAlkcGFUPEUcrNBURWDdAAxoQAhVEHS8aNxUCUVUSGBUrWRB9RENBWAJDR01PRABEcERBRkQeQ0ZLTRpVAx8AEhY%3D\"}\r\n,
        \r\n\"extended\": {\r\n\"sid\": 1, \r\n\"version\": \"Online Application Tracking
        Data Interchange Specification 1.02 \", \r\n\"softw[...]
- request:
    method: get
    uri: http://mycouncil.yass.nsw.gov.au/Horizon/@@horizondap@@/atdis/1.0//applications.json?lodgement_date_end=2016-03-22&lodgement_date_start=2016-02-21&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "Faked error response, take that, rspec-mock"
  recorded_at: Tue, 22 Mar 2016 04:48:33 GMT
recorded_with: VCR 3.0.1
