---
http_interactions:
- request:
    method: get
    uri: http://mycouncil2.solorient.com.au/Horizon/@@horizondap_ashfield@@/atdis/1.0//applications.json?lodgement_date_end=2016-03-22&lodgement_date_start=2016-02-21
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\r\n\"response\": [], \r\n\"count\": 0, \r\n\"pagination\": {\r\n\"pages\":
        1, \r\n\"per_page\": 20, \r\n\"count\": 0, \r\n\"current\": 1}\r\n}\r\n"
  recorded_at: Tue, 22 Mar 2016 04:38:35 GMT
recorded_with: VCR 3.0.1
