---
http_interactions:
- request:
    method: get
    uri: https://myhorizon.maitland.nsw.gov.au/Horizon/@@horizondap@@/atdis/1.0//applications.json?lodgement_date_end=2016-03-22&lodgement_date_start=2016-02-21
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\r\n\"response\": [ \r\n{\r\n\"application\": {\r\n\"reference\":
        {\r\n\"more_info_url\": \"https:\\/\\/myhorizon.maitland.nsw.gov.au\\/Horizon\\/logonGuest.aw?e=FxkUAB1eSSgbAR0MXx0SGBFSVh0yBwc3GV0eFxcFSUMAIQYHJARfEBMKEiNZACg9HR0CHCUfHBY1QAQsHRAVAlkcGFUPEUcrNBURWDdAAxoQAhVEHS8aNxUCUVUSGBUrWRB9MDJZRABCQFRRQQhNbBoWAylEEhQ%3D\"}\r\n,
        \r\n\"extended\": {\r\n\"sid\": 1, \r\n\"version\": \"Online Application Tracking
        Data Interchange Specification 1.02 \", \r\n\"software_vendor_url\": \"http:\\/\\/www.solorient.com.au\",
        \r\n\"software_vendor\": \"SolOrient Pty Ltd\", \r\n\"product\": \"Horizon
        DA Portal - Build 3.18 Copyright 2016\"}\r\n, \r\n\"locations\": [ \r\n{\r\n\"address\":
        {\r\n\"suburb\": \"LARGS\", \r\n\"postcode\": \"2320\", \r\n\"state\": \"NSW\",
        \r\n\"street\": \"27 Hunter Street\"}\r\n, \r\n\"land_title_ref\": {\r\n\"torrens\":
        {\r\n\"dpsp_id\": \"DP1101097\", \r\n\"lot\": \"14\", \r\n\"section\": null}\r\n}\r\n,
        \r\n\"geometry\": {\r\n\"type\": \"Point\", \r\n\"coordinates\": [151.604000,
        \r\n-32.704000]}\r\n}\r\n] \r\n, \r\n\"events\": [ \r\n{\r\n\"description\":
        \"No Events\", \r\n\"timestamp\": \"2016-03-21T00:00:00Z\", \r\n\"id\": \"0\",
        \r\n\"event_type\": \"NIL\"}\r\n] \r\n, \r\n\"documents\": [], \r\n\"people\":
        [ \r\n{\r\n\"name\": \"Glenn Datson\", \r\n\"role\": \"Applicant\"}\r\n] \r\n,
        \r\n\"info\": {\r\n\"development_type\": \"residential\", \r\n\"notification_end_date\":
        null, \r\n\"determination_type\": \"Pending\", \r\n\"estimated_cost\": \"$19,760\",
        \r\n\"status\": \"Pending\", \r\n\"lodgement_date\": \"2016-03-21T00:00:00Z\",
        \r\n\"last_modified_date\": \"2016-03-21T00:00:00Z\", \r\n\"authority\": {\r\n\"name\":
        \"Maitland City Council\", \r\n\"ref\": \"https:\\/\\/myhorizon.maitland.nsw.gov.au\\/Horizon%40%40horizondap%40%40\\/atdis\\/1.0\"}\r\n,
        \r\n\"dat_id\": \"DA-2016-0589\", \r\n\"description\": \"Garage and Carport
        and Demolition\", \r\n\"determination_date\": null, \r\n\"application_type\":
        \"DA\"}\r\n}\r\n}\r\n,\r\n{\r\n\"application\": {\r\n\"reference\": {\r\n\"more_info_url\":
        \"https:\\/\\/myhorizon.maitland.nsw.gov.au\\/Horizon\\/logonGuest.aw?e=FxkUAB1eSSgbAR0MXx0SGBFSVh0yBwc3GV0eFxcFSUMAIQYHJARfEBMKEiNZACg9HR0CHCUfHBY1QAQsHRAVAlkcGFUPEUcrNBURWDdAAxoQAhVEHS8aNxUCUVUSGBUrWRB9MDJZRABCQFRRQgBMbBoWAylEEhQ%3D\"}\r\n,
        \r\n\"extended\": {\r\n\"sid\": 6, \r\n\"version\": \"Online Application Tracking
        Data Interchange Specification 1.02 \", \r\n\"soft[...]
- request:
    method: get
    uri: https://myhorizon.maitland.nsw.gov.au/Horizon/@@horizondap@@/atdis/1.0//applications.json?lodgement_date_end=2016-03-22&lodgement_date_start=2016-02-21&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\r\n\"response\": [ \r\n{\r\n\"application\": {\r\n\"reference[...]
[...]
